body {
    background: linear-gradient(45deg, #00ffe5cc, #ff3392a9);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.login-container {
    background-color: rgba(36, 29, 29, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-btn {
    margin-top: 10px;
}