
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Login</title>
    
    
</head>
<app-nav></app-nav>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 login-container">
            <h2 class="text-center">Seller Login</h2>
            <form>
                <div class="mb-3">
                    <label for="inputsellerid" class="form-label">Seller ID</label>
                    <input type="number" class="form-control" id="inputsellerid" aria-describedby="emailHelp" 
                    [(ngModel)]="seller.SellerId" name="SellerId" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Seller Password</label>
                    <input type="password" class="form-control" id="inputPassword" 
                    [(ngModel)]="seller.SellerPassword" name="SellerPassword" required>
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
            </form>
        </div>
    </div>
</div>

