<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
    
    
</head>
<app-nav></app-nav>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 login-container">
            <h2 class="text-center">Customer Login</h2>
            <form>
                <div class="mb-3">
                    <label for="inputId" class="form-label">Customer ID</label>
                    <input type="number" class="form-control" id="inputId" aria-describedby="emailHelp"
                    [(ngModel)]="user.UserId" name="UserId" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" 
                    [(ngModel)]="user.Password" name="password"required>
                </div>
                <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
            </form>
            <div class="text-center signup-btn">
                <p>Don't have an account? </p><a class="btn btn-outline-dark" routerLink="/customerregister">Sign up</a>
            </div>
        </div>
    </div>
</div>
