<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">QuitQ</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link "  routerLink="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Login
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/customerlogin">Customer Login</a></li>
                        <li><a class="dropdown-item" routerLink="/sellerlogin">Seller Login</a></li>
                        <li><a class="dropdown-item" routerLink="/adminlogin">Administrator Login</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" routerLink="/sellerregister">Become A Seller</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
