body {
    background: linear-gradient(45deg, #f06, #9f6);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.registration-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.btn-register {
    background-color: #4caf50;
    color: #fff;
}

.btn-register:hover {
    background-color: #45a049;
}